PORT = 

MONGO_URI = 

IK_URL = 
IK_PUB_KEY = 
IK_PVT_KEY = 

JWT_SECRET_KEY = 
REFRESH_TOKEN_SECRET = 

GOOGLE_CALLBACK_URL = 
GOOGLE_CLIENT_ID = 
GOOGLE_CLIENT_SECRET = 
GOOGLE_REFRESH_TOKEN = 
GOOGLE_EMAIL_USER = 

REDIS_PORT = 
REDIS_HOST = 
REDIS_PASSWORD = 